<config>
<l2vpn-services xmlns="http://ciena.com/ns/yang/ciena-l2vpn">
    <l2vpn>
      <name>{{ name }}</name>
      <mtu>1500</mtu>
      <service-type>vlan</service-type>
      <forwarding-domain>{{ fd }}</forwarding-domain>
      <pseudowire>{{ pseudowire }}</pseudowire>
      <vc-mode-revertive>false</vc-mode-revertive>
      <control-word>false</control-word>
    </l2vpn>
 </l2vpn-services>
 </config>
