<config>
  <maintenance-domain xmlns="http://metroethernetforum.org/ns/yang/mef-cfm">
   <id>md3</id>
   {% for ma in mas %}
    <maintenance-association>
      <id>{{ ma.maid }}</id>
      <maintenance-association-end-point>
        <mep-identifier>{{ ma.mepid }}</mep-identifier>
         <loss-measurements xmlns="http://metroethernetforum.org/ns/yang/mef-soam-pm">
          <loss-measurement-config xmlns="http://www.ciena.com/ns/yang/ciena-soam-pm" operation="delete">
            <session-id>{{ ma.lmid }}</session-id>
          </loss-measurement-config>
        </loss-measurements>
        <delay-measurements xmlns="http://metroethernetforum.org/ns/yang/mef-soam-pm">
          <delay-measurement-config xmlns="http://www.ciena.com/ns/yang/ciena-soam-pm" operation="delete">
            <session-id>{{ ma.dmid }}</session-id>
          </delay-measurement-config>
        </delay-measurements>
      </maintenance-association-end-point>
    </maintenance-association>
  {% endfor %}
  </maintenance-domain>
</config>
